@use 'variables';

#bookshelf {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;

    margin-top: 3%;
    margin-bottom: 3%;

    text-align: center;
    font-size: 1.5rem;

    .book-card {
        margin-left: 5%;
        margin-right: 5%;
        background-color: rgb(218, 230, 255);
        border: 1px solid black;
        box-shadow: variables.$shadow;

        & > * {
            padding: 10px;
        }

        button {
            margin: 10px;
            @include variables.button;
        }
    }
}

@media only screen and (max-width: 900px) {
    #bookshelf {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {
    #bookshelf {
        grid-template-columns: 1fr;
    }
}